body, html {
    height: 100%;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}

#myNavbar {
    position: -webkit-sticky;
    position: sticky;
}

.login-form {
    width: 100%;
    padding: 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 24px
}

.boton_crear {
   background-color : #31B0D5;
   color: white;
   padding: 10px 20px;
   border-radius: 4px;
   border-color: #46b8da;
 }
  
#boton_crear {
position: fixed;
bottom: -4px;
right: 10px;
font-family: 'Roboto', sans-serif;
font-size: 16px
}

/* The popup form - hidden by default */
.form-popup {
display: none;
position: fixed;
bottom: 0;
right: 15px;
border: 3px solid #f1f1f1;
z-index: 9;
}
  
/* Add styles to the form container */
.form-container {
max-width: 300px;
padding: 10px;
background-color: white;

font-family: 'Roboto', sans-serif;
font-size: 12px
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
background-color: #04AA6D;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
opacity: 1;
}